force-app/main/default/flows/CopyAbout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RemoveTags</name>
        <label>RemoveTags</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>RemoveHtmlMarkup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateRec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richText</name>
            <value>
                <elementReference>$Record.About_IceCream__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveHtmlMarkup</nameSegment>
        <outputParameters>
            <assignToReference>$Record.Copy_About_IceCream__c</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_About_Icecreame</name>
        <label>Check About Icecreame?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.About_IceCream__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>RemoveTags</targetReference>
            </connector>
            <label>If Not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CopyAbout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CopyAbout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRec</name>
        <label>UpdateRec</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_About_Icecreame</targetReference>
        </connector>
        <object>Company__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
